* {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.title h1 {
    color: white;
    padding: 5px;
    
    
}

.link input {
    border-radius: 10px;
    height: 25px;
}

.more {
    width: 20%;
    display: flex;
    justify-content: space-evenly;

}
.head h1{
    background-color: aqua;
    width: 40%;
    margin: 0 auto;
    /* width: fit-content; */
}

.head p{
    font-size: 20px;
}

.more a {
    text-decoration: none;
    color: white;
}

.img {
    height: 500px;
    background-image: url(images/image.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.button{
    padding-bottom: 15px;
    height: 10px;
}

.button button:hover {
    background-color: yellowgreen;
    color: red;
}

.head h1 {
    text-align: center;
    color: brown;
    border-radius: 20px;
}

.head p {
    padding-top: 10PX;
    text-align: center;
    color: white;
}

.about h1 {
    text-align: center;

}
.sample {
    padding-top: 5px;
    text-align: center;

}

.para p {
    padding: 5px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.a{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.a p{
    padding: 6px;
}

.x{
    background-color: black;
    height: 300px;
    width: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.x h1{
    color: white;
}
.x p{
    color: aliceblue;
    text-align: center;
}

.footer h6{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
}

.card{


    padding-top: 30px;
    margin-left: 40%;
    background-color: rgb(209, 206, 206);
    height: 300px;
    width: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;

}